* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

h1 {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 46px;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
h2 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  margin: 1rem;
}
h3 {
  color: white;
  padding-block: 20px;
  font-family: "Mada", sans-serif;
  margin-left: 1rem;
}
h4 {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 2rem;
}
h5 {
  color: white;
  padding-block: 20px;
  font-family: "Mada", sans-serif;
  margin-left: 1rem;
  font-size: 16px;
}
p {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  margin-left: 1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-top: 1rem;
}
a:hover {
  filter: brightness(0.8);
}
.btn_1 p {
  text-align: center;
}
.forside {
  background-image: url(../img/portfolio_forside.svg);
  background-size: 100%;
  background: no-repeat;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hjem {
    width: 20%;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  h1 {
    font-size: 34px;
  }
}
.hjem {
  margin: 1rem;
}

.btn_1 {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 40px;
  text-decoration: none;
  margin-top: 40%;
  margin-left: 20%;
  color: white;
  align-items: center;
}

/************** burgermenu *****************/

.brg_menu_button:hover .brg_menu_lines {
  filter: brightness(0.7);
}
.brg_menu_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-left: 1rem;
  width: 80px;
  height: 80px;
  z-index: 30;
  color: white;
}
.brg_menu_button::after {
  background-color: white;
}
.brg_menu_lines,
.brg_menu_lines::after,
.brg_menu_lines::before {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 40%;
}

.brg_menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brg_menu_lines::before {
  content: "";
  top: -12px;
}
.brg_menu_lines::after {
  content: "";
  top: 12px;
}
.brg_menu_active .brg_menu_lines {
  background-color: transparent;
}
.brg_menu_active .brg_menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.brg_menu_active .brg_menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
}
.brg_menu_nav {
  padding: 70px;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  right: -120%;
  top: 0;
}
.brg_menu_active .brg_menu_nav {
  right: 0;
}

.brg_menu_link {
  padding: 10px;
  font-family: "Chau Philomene One", sans-serif;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  font-weight: 300;
}
.brg_menu_link:hover {
  text-shadow: 2px 2px #7b7b7b;
}
.brg_menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  z-index: 10;
}

.brg_menu_active .brg_menu_overlay {
  display: block;
}

ul {
  list-style: none;
}
ul li {
  padding-left: 25px;
  padding-top: 15px;
  font-family: "Chau Philomene One", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  font-weight: 100;
  text-decoration: none;
}

li a:hover {
  text-shadow: 2px 2px #7b7b7b;
}
/*footer*/

footer {
  padding: 3rem;
}

/********** BUTTON **********/

.cta {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 9rem;
  margin: 1rem auto;
  margin-top: 3rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Mada", sans-serif;
}

.cta:hover {
  background-color: #ffffff;
  border: 3px solid rgb(61, 61, 61);
  color: black;
  text-shadow: 1px 1px #7b7b7b;
}

.line {
  padding-block: 2rem;
}
